# Setup
/*
!.config/
.config/*

# Git stuff
!.gitignore
!README.md

# Nix stuff
!configuration.nix
!legacy-configs

# Configs
!.bashrc
!.config/Code
!.config/gtk-2.0
!.config/gtk-3.0
!.config/gtk-4.0
!.config/helix
!.config/i3
!.config/i3status
!.config/picom

# Files
!wallpapers